#################
### AUTOSTART ###
#################

# applications
exec-once = waybar
exec-once = [workspace 1 silent] zen-browser
exec-once = systemctl --user start hyprpolkitagent
exec-once = swww-daemon
exec-once = nm-applet
exec-once = blueman-applet
{{- if eq .chezmoi.hostname "arch-ideapad" }}
exec-once = sleep 3 && /opt/windscribe/Windscribe %F
exec-once = iio-hyprland
{{- else if eq .chezmoi.hostname "arch-desktop" }}
exec-once = discord
exec-once = steam
{{- end }}

# commands
exec-once = hyprpm reload
exec-once = gsettings set org.gnome.desktop.interface cursor-theme Adwaita
